[submodule "Stopthepop"]
	path = 2d_gaussian_splatting
	url = https://github.com/hbb1/2d-gaussian-splatting.git
[submodule "StopThePop"]
	path = StopThePop
	url = https://github.com/r4dl/StopThePop.git
